{
  "presets": [
    "es2015",
    "stage-0",
    [
      "env", {
        "targets": {
          "node": "current"
        },
        "debug":true
      }
    ]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "es6-promise",
    "@babel/plugin-transform-regenerator"
  ]
}
